<%= tag.div id: dom_id(comment), class: 'comment' do %>
  <div class="comment-body">
    <%= comment.body %>
  </div>

  <div class="comment-metadata">
    <%= comment.created_at %> |
    <%= turbo_frame_tag "new_#{dom_id(comment)}_comment" do %>
      <%= link_to 'Reply', new_comment_comment_path(comment) %>
    <% end %>
  </div>

  <div class="comments">
    <%= render comment.comments %>
  </div>
<% end %>
