<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Add Comment', new_post_comment_path(@post), remote: true %>

<div id="add_comment_form"></div>

<h3>Comments</h3>

<div class="comments">
  <%= render @post.comments %>
</div>
